{% extends 'patterns/base.html' %}

{% block content %}

    {% if not user.is_authenticated %}
        {% include 'login.html' %}
    {% else %}
        <h1>Welcome, {{ user.username }}</h1>
    {% endif %}


{% endblock %}

{% block scripts %}

    <script>
        /*
        const ethereumButton = document.getElementById('reg');
        ethereumButton.addEventListener('click', () => {
            if (typeof web3 == 'undefined') {
                alert('Для работы с сервисом Вам необходимо установить плагин MetaMask!(доступно в Google Chrome и Firefox)');
            } else {
                if (document.getElementById('username').value && document.getElementById('email').value) {
                    ethereum.enable();
                    console.log('{{ csrf_token }}');
                    const request = new XMLHttpRequest();
                    const data = new FormData(document.getElementById('form'));
                    data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                    data.append('wallet', web3.eth.accounts[0]);
                    request.open('POST', '/new_user', true);
                    request.send(data);
                    return false;
                }
                else {
                    alert('Заполните форму!');
                }
            }
        });
        */
    </script>

{% endblock %}