{% extends 'patterns/base.html' %}

{% block content %}

    {% if not user.is_authenticated %}
        {% include 'login.html' %}
    {% elif user.account_type == None %}
        {% include 'cards.html' %}
    {% else %}
        <h1>Welcome, {{ user.username }}. Go to your <a href="profile">profile</a> </h1>
    {% endif %}


{% endblock %}

{% block scripts %}

    <script>
        document.getElementById('banker').addEventListener('click', function foo () {
            window.location.replace('/buy?account=banker');
        });

        document.getElementById('user').addEventListener('click', function foo () {
           window.location.replace('/buy?account=user');
        });
    </script>

{% endblock %}